.sized-box {
  width: 5% !important;
}

.right-side,
.middle,
.left-side {
  background-color: #fff;
  margin-top: 10vh !important;
}
.right-side {
  margin-top: 0 !important;
  
}

.date-picker {
  margin:  35px 10px ;
}
.middle {
  height: 25vh;
  box-shadow: var(--box-shadow);
  margin-top: 10vh !important;
  margin-bottom: 2vh;
  padding-left: 0 !important;
}
.middle h5 {
  font-size: var(--header2-size);
}
.middle h6 {
  font-size: var(--paragraph-size);
  color: var(--second-color);
}
.middle p {
  font-size: 10px;
  color: var(--main-color);
}
.icon-img {
  width: 33px;
  height: 33px;
  margin: 0 5px 0 0;
}
.icon-fire {
  width: 15px;
  height: 20px;
  margin: 3px 5px 0 0;
}
.type-food span {
  font-size: 10px;
  color: var(--second-color);
}
.type-food h6 {
  padding: 0 !important;
  margin: 0 !important;
  line-height: 15px !important;
}
.days h5 {
  font-size: 15px;
}
.days h6 {
  font-size: 10px;
  font-weight: 900;
}

.days button {
  width: 40px;
  background-color: transparent;
  border: 0;
}
.active-day {
  background-color: var(--main-color) !important;
  color: white;
  border-radius: 25px;
  text-align: center !important;
  width: 30px !important;
  padding-right: 0 !important;
}
