.intro {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}
.login-btn {
  padding: 5px 10px !important;
}
.intro h2 {
  line-height: 60px;
  font-weight: 700;
  margin-top: 20px;
  color: var(--paragraph-color);
}

@media screen and (max-width: 992px) {
  .go-btn {
    font-size: var(--paragraph-size) !important;
  }
}
