.sec_container {
  height: calc(100vh - 70.78px);
}
.signInUp_container {
  box-shadow: var(--box-shadow);
}
.signInUp_container {
  width: 60vw;
  max-width: 800px;
}
@media screen and (max-width: 1000px) {
  .signInUp_container {
    width: 70vw;
  }
}
@media screen and (max-width: 700px) {
  .signInUp_container {
    width: 80vw;
  }
}
@media screen and (max-width: 500px) {
  .signInUp_container {
    width: 90vw;
  }
}
.login-img {
  max-width: 100%;
}
.img_container {
  flex: 1;
  overflow: hidden;
}
@media screen and (max-width: 800px) {
  .img_container {
    display: none;
  }
}
.form_container {
  flex: 1;
}
form h2 {
  font-weight: 900;
  position: relative;
}
form h2::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 5px;
  bottom: -10px;
  left: 0;
  background-color: var(--main-color);
}
.inputDiv {
  position: relative;
}
.form-select-login,
.form-control-login {
  text-indent: 30px;
}
.form-select:has(option:disabled:checked),
.form-control::placeholder {
  color: var(--second-color) !important;
}
.icon-login {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: var(--main-color);
}
