.main-color {
    color:var(--main-color)
}

.second-color {
    color:var(--second-color)
}

.video .overlay {
    background-color: #00000087;
}

.newsletter-subscription {
    border: 1px solid var(--main-color);
    border-radius: 20px;
}

.form-control:focus {
    box-shadow: none !important;
}