.cardd-img{
    height: 300px !important;
}
.main-color {
    color:var(--main-color)
}

.second-color {
    color:var(--second-color)
}

.video .overlay {
    background-color: #00000087;
}

.newsletter-subscription {
    border: 1px solid var(--main-color);
    border-radius: 20px;
}

.form-control:focus {
    box-shadow: none !important;
}

.wourkouts-header {
    background-image: url("../assets/images/fitnessGym1.webp");
    height: calc(100vh - 68.8px);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.wourkouts-header::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000087;
}

.wourkouts-header h1 {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.workouts-card-content {
    padding: 7px 12px;
    border-radius: 12px;
    color: white;
}

.workouts-card-content:first-child {
    background-color: var(--main-color);
}
.workouts-card-content:last-child {
    background-color: var(--second-color);
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .workouts-card {
        height: 300px !important;
    }
}

@media (min-width: 1200px) {
    .workouts-card {
        height: 400px !important;
    }
}