.card-n {
  background-color: white;
  padding: 20px 0px 20px 20px !important;
  margin: 20px 0px !important;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  width: 49% !important;
}
.card-n h4 {
  font-size: 20px;
  font-weight: 700;
}

.bolder {
  font-weight: 700;
}
.f-color {
  background-color: #f9edd3;
}
h6 span {
  background-color: #0066ff;
  color: white;
  font-weight: 500;
  font-size: 10px;
  padding: 3px;
}

.w-fit {
  width: fit-content;
}

.grey {
  color: #babbb8;
}

.fs-8 {
  font-size: 12px;
}
.fs-7 {
  font-size: 14px;
}
.cursor-pointer {
  cursor: pointer;
}

.pt-9 {
  padding-top: 120px;
}

.min-w-100 {
  min-width: 150px !important;
}

p {
  margin: 0 !important;
}

.bg-add {
  background-color: #0066ff60;
  width: 100px;
}

.text-primary-color {
  color: #0066ff;
}

.bg-water-color {
  background-color: #7ec6de;
}

/* @media screen and (min-width: 992px) {
  .padding {
    width: 2% !important;
  }
  .result-sec {
    width: 48% !important;
  }

  .progress-sec {
    width: 21% !important;
  }
} */

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .ruler {
    font-size: 10px;
  }
}
/* @media screen and (min-width: 1199px) and (max-width: 1399px) {
  .result-sec {
    width: 47% !important;
  }
} */

@media screen and (max-width: 770px) {
  .ruler {
    font-size: 9px !important;
  }
  .card-n {
    width: 100% !important;
  }
}

.margin-r10 {
  margin-right: 10px !important;
}
.padding-r20 {
  padding-right: 22px !important;
}