@import url("https://fonts.googleapis.com/css2?family=Geologica&family=Work+Sans:ital,wght@0,200;0,300;1,200&display=swap");
:root {
  --main-color: #0066ff;
  --main-background-color: #f9f9f9;
  --second-background-color: #BECEF4;
  --second-color: #63717d;
  --paragraph-color: #002233;
  --btn-hover-color: #0b5ed7;
  --box-shadow: 1px 1px 6px 1px #6f6767;
  --font-family1: "Work Sans", sans-serif;
  --font-family2: "Geologica", sans-serif;
  --header1-size: 25px;
  --header2-size: 18px;
  --paragraph-size: 14px;
  --section-padding: 50px;
}
body {
  margin: 0;
  font-family: var(--font-family2) !important;
}
.section-padding {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.section-padding-bottom {
  padding-bottom: var(--section-padding);
}
.section-padding-top {
  padding-top: var(--section-padding);
}
.bg-main-color {
  background-color: var(--main-background-color);
}
.bg-second-color {
  background-color: var(--main-color);
}
.text-paragraph-color {
  color: var(--paragraph-color) !important;
}
.text-main-color {
  color: var(--main-color) !important;
}
.font-family1 {
  font-family: var(--font-family1);
}
.font-family2 {
  font-family: var(--font-family2);
}
.header1-size {
  font-size: var(--header1-size);
}
.header2-size {
  font-size: var(--header2-size);
}
.paragraph-size {
  font-size: var(--paragraph-size);
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
