.navbar {
  color: var(--paragraph-color) !important;
}
.login-btn {
  border-radius: 10px;
  width: 75px !important;
  padding: 5px !important;
  height: 28px !important;
  padding-top: 0 !important;
}
.login-btn:hover {
  background-color: var(--main-color) !important;
}
.logo-text {
  color: var(--main-color);
  font-size: var(--header1-size) !important;
  font-weight: 700;
}
.logo-img {
  width: 22px;
  height: 22px;
}
.nav-collapse {
  /* margin-left: 50%; */
  line-height: 40px;
}
.navs {
  text-decoration: none ;
  color: var(--paragraph-color) ;
  font-size: var( --header2-size) ;
}
.active {
  color: var(--main-color) ;
  font-weight: 600;
}
